body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#mainSearch {
  display: inline-block;
  width: 75%;
  margin: 1em;
}

body > div.form-group > button {
  width: 100px;
}
div.search {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}
button.btn.search-btn {
	width: 100%;
}
.btn-group > .btn-group {
	width: 50%;
}
button.btn.btn-default:active, button.btn.btn-default:hover, button.btn.btn-default:focus {
	background-color: #3276b1;
}
div.fair {
	margin: 5px;
}
div.image {
	float:left;
	width: 50%;
}
.image img {
	width: 200px;
	height: 150px;
	margin: 0 auto;
}
div.info {
	float: right;
	width: 50%;
}
div.info h3 {
	margin-top:0;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}