extends layout

block content

  div.container
      div.btn-group.btn-group-justified.search
          div.btn-group#faculty-srch
              button.btn.btn-default.search-btn(type='button') Faculty Search
          div.btn-group#careerfairs
              button.btn.btn-default.search-btn(type='button') Career Fairs
  div.container
      div#search-content
       

