extends layout

block content

  div.container
      div.btn-group.btn-group-justified.search
          div.btn-group#faculty-srch
              button.btn.btn-default.search-btn(type='button') Faculty Search
          div.btn-group#careerfairs
              button.btn.btn-default.search-btn(type='button') Career Fairs
  div.container
      div#search-content
       

  .container
      form(role='form', action='/search', method="POST")
        .form-group
          label(for='')
          input#mainSearch.form-control(type='text', placeholder='Enter Dream Scholar', name="searchText")
          button#mainSubmit.btn.btn-default.btn-lg.search-btn(type='submit') Search
      div
        -if (searchResults)
          - for (var i = 0; i < searchResults.num_rows; ++i)
            p #{searchResults.rows[i].name}
            p #{searchResults.rows[i].department}
            p #{searchResults.rows[i].profile_url}
            p #{searchResults.rows[i].profile_img_url}




//- how do you change it so that it will print the name of each row? 

